{% extends "layouts/layout.html" %}

{% block content %}
<main>
    <!-- Carousel Component -->
    {% include "components/carousel.html" %}
    
    <!-- Highlights Component -->
    {% include "components/highlights.html" %}
    
    <!-- Sabia Presentation Component -->
    {% include "components/sabia_presentation.html" %}
    
    <!-- Product Highlight Component -->
    {% include "components/product_highlight.html" %}
    
    <!-- Diferentials Component -->
    {% include "components/diferentials.html" %}
    
    <!-- Purposes Component -->
    {% include "components/purposes.html" %}
    
    <!-- Team Component -->
    {% include "components/team.html" %}
    
    <!-- Partners Component -->
    {% include "components/partners.html" %}
</main>
{% endblock %}
