{% extends "layout.html" %}

{% block content %}
<main>
    <!-- Carousel Component -->
    {% include "carousel.html" %}
    
    <!-- Highlights Component -->
    {% include "highlights.html" %}
    
    <!-- Sabia Presentation Component -->
    {% include "sabia_presentation.html" %}
    
    <!-- Product Highlight Component -->
    {% include "product_highlight.html" %}
    
    <!-- Diferentials Component -->
    {% include "diferentials.html" %}
    
    <!-- Purposes Component -->
    {% include "purposes.html" %}
    
    <!-- Team Component -->
    {% include "team.html" %}
    
    <!-- Partners Component -->
    {% include "partners.html" %}
</main>
{% endblock %}
